@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');
.icon{
  float: left;
  margin-right: 20px;
}
.cards img{
  max-height: 200px;
  max-width: 200px;
  border: 2px solid black;
  padding: 2px;
}
html{
  background-color: rgb(235, 132, 72)
}
h1{
font-family: 'Oswald', sans-serif;
}
h2{
font-family: 'Montserrat', sans-serif;
}
a:link{
color: rgb(109, 11, 11);
}
a:active{
  color: rgb(243, 200, 160);
}
